@font-face {
font-family: "Chivo";
src: url("css/fonts/Chivo/Chivo-Regular.eot");
src:
url("css/fonts/Chivo-Regular.ttf") format("ttf"),

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Chivo', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;

}



html{
    background-color: #212121;
    height: 10000px;
    scroll-behavior: smooth;
}


h2{
    font-weight: normal;
    color: white;


}




#container{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-auto-columns: 1fr;
    justify-content: space-evenly;
    align-content: space-evenly;
    grid-row-gap: 60px;



}

.item{
   color: white;
    grid-column: span 12;
    height: 100px;
    text-align: center;

}
.item > h2{
    color: #fbb040;
    margin: 20px;
}

.item > h1{
    color: #fbb040;
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: 45px;

}
.item > h3{
    margin: 20px;
}

.navbar{
    width:80%;
    height 60px;
    background-color: rgba(0,0,0,.4);
    line-height: 60px;
    padding-left: 10%;
    padding-right:10%;
    position: fixed;
    top: 0;

}

    .nav-right{
        float: right;
    }

    .navbar a{
        margin: 10px;
        color: white;
        text-decoration: none;
        font-weight: bold;

    }
    .navbar a:hover{
        color: #fbb040;
    }

.header{

    grid-column: span 12;
    text-align: center;
     background-image: url(../images/adventure-calm-clouds-414171.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
    .jumbotron{

    margin-top: 12.5vh;
    margin-right: auto;
    margin-left: auto;
    height: 40vh;
}

    .header h2{
        margin-top: 50px;
    }
    .headerButtons{
        height: 165px;
    }

    .headerButtons > button{
        width: 190px;
        height: 70px;
        margin: 15px;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: rgba(0,0,0,0);
        color: #fbb040;
        font-weight: bold;
        border-color: #fbb040;
        border-width: 5px;
        border-style: double;
         transition: 250ms;

    }

    .headerButtons > button:hover{
        width: 195px;
        height: 75px;
        margin-top: 45px;
        margin-bottom: 45px;
        color: white;
        background-color: #fbb040;
        transition: 250ms;
       ;

    }

.content{
    margin: 20px;
    grid-column: span 12;
    text-align: center;
    color: white;

}


    .promise{
        margin: 5px;
        grid-column: span 4;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        height: auto;
        padding: 20px;
        background-color: #303030;
        border: none;
        text-align: center;
        border-radius: 5px;

    }



.flicker{
    color: white;
    -webkit-animation: flickerAnimation 2s infinite;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
    margin: 50px;


}

.flicker > a{
    text-decoration: none;
    color: white;
    position: absolute;
    bottom:10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

    .scroll{
        height: 75px;
        display: block;
        margin: 10px;
        margin-left: auto;
        margin-right: auto;

    }

/*
Animation to flicker learn more and scroll image in and out. ------------------------
*/
@keyframes flickerAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}


/*
All the CSS required for the carousel slider -------------------------------------
*/

section#carousel{
    margin: 20px;
}
section#carousel > figure > img {
    display: none;
    margin: 20px auto;
}

section#carousel > figure.visible > img {
display: block;
position: relative;
overflow: hidden;
}

section#carousel > figure > figcaption {
display: none;
}

section#carousel > figure.visible > figcaption {
display: block;
text-align: center;
font-weight: bold;
font-size: 1.5em;
}



.footer{
    grid-column: span 12;

}
.material-icons.md-48 { font-size: 96px; color: #fbb040  }
